*{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
 background-image: linear-gradient(to left,#191919 ,#131212, #131313, #1b1b1b);
 color: #fff;
}


/* Banner */


#banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 75px 20px;
}

#banner h1{
  font-size: 3.5vw;
  font-weight: 900;
  letter-spacing: 1.5px;
  margin: 0 0 25px 0;
}

#banner button{
  display: flex;
  padding: 20px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
  background-color: #191919;
  border: 1px solid #fff;
  transition: all .55s ease-in-out;
}

#banner button em{
  color: #f7f303;
  font-style: normal;
  transition: all .55s ease-in-out;
}

#banner button:hover{
  color: #0d0d0d;
  background-color: #fff;
  transform: scale(1.1);
}

#banner button:hover em{
  color: #000000;
}

#lines{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#lines #lineReborn{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

section .title{
  margin: 70px 0 70px 0;
  text-align: center;
}

section .title h1{
  font-size: 90px;
  letter-spacing: 2.5px;
}

section .title h1 em{
  color: #f7f303;
  font-style: normal;
}

#lines #lineReborn .players{
  display: flex;
  margin: 6vh 20px 0 20px;
  padding: 30px;
  gap: 20px;
}

#lines #lineReborn .players .playerPerfil{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

#lines #lineReborn .players .playerPerfil img{
  width: 70px;
  border-radius: 50%;
}

#lines #lineReborn .players .playerPerfil h3{
  font-size: 20px;
}

#lines #lineReborn .players .playerEstatisticas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

#lines #lineReborn .players .playerConta{
  display: flex;
  justify-content: center;
  align-items: center;
}

#lines #lineReborn .players .playerConta img{
  width: 400px;
  border-radius: 20px;
  border: 2px solid #ffee00;
}

/* Horarios */

#horarios{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 50px 0;
}

#tabela {
  text-align: center;
  border-collapse: collapse;
  overflow-x: hidden;
  }

th, td{
  border: 1px solid grey;
  padding: 15px;
  font-size: 16px;
}

li{
  color: grey;
}

.horas:hover{
  background-color: #212121;
}

/* Responsividade */

@media (max-width: 700px){
  section .title h1{
    font-size: 55px;
  }

  #lines #lineReborn .players{
    flex-direction: column;
  }

  #tabela{
    overflow: auto;
  }
}

@media (max-width: 450px){
  section .title h1{
    font-size: 30px;
  }

  #lines #lineReborn .players{
    flex-direction: column;
  }

  #lines #lineReborn .players .playerPerfil img{
    width: 40px;
  }
  
  #lines #lineReborn .players .playerPerfil h3{
    font-size: 15px;
  }

  #lines #lineReborn .players .playerConta img{
    width: 250px;
  }
}